.strength-sections {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

    .strength-section {
      flex: 1;
      padding: 10px;
      color: white;
      font-weight: bold;
    }

    #easy {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    #strong {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

}